.site_footer {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 450px;
    bottom: 0;
    -webkit-transition: opacity .5s ease 1.2s;
    transition: opacity .5s ease 1.2s;
    color: #9393a2;
    background-color: #0a0a0c;
}
.site_footer .site_footer--inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
}
.site_footer .site_footer--tagline_wrap {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 60px 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    color: #fff;
}
.site_footer-revealed .site_footer--tagline_wrap {
    -webkit-transition: opacity .7s ease,-webkit-transform .7s ease;
    transition: opacity .7s ease,-webkit-transform .7s ease;
    transition: transform .7s ease,opacity .7s ease;
    transition: transform .7s ease,opacity .7s ease,-webkit-transform .7s ease;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.site_footer .site_footer--tagline_copy {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 0;
}
.site_footer .site_footer--tagline_link {
    margin-top: 20px;
}
.site_footer .site_footer--tagline_link a {
    color: #fff;
}
.footer_extras {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 100%;
    padding-bottom: 40px;
}
.footer_extras .footer_extras--legal {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    order: 3;
    margin-top: 40px;
}
.footer_extras .footer_extras--aux_nav {
    width: 50%;
}
.aux_nav {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    list-style-type: none;
}
.aux_nav li {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer_extras .footer_extras--social {
    width: 50%;
}
.social_links {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    list-style-type: none;
}
.footer_extras .footer_extras--social .social_links li {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
}
.aux_nav li .text_crop:after, .aux_nav li .text_crop:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
}
.aux_nav li .text_crop:before {
    margin-bottom: -.23526em;
}
.aux_nav li .text_crop:after {
    margin-top: -.44579em;
}
.typo_small .text_crop:after, .typo_small .text_crop:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
}
.typo_small .text_crop:before {
    margin-bottom: -.23526em;
}
.typo_small .text_crop:after {
    margin-top: -.44579em;
}
.footer_extras .footer_extras--social .social_links li .text_crop:after, .footer_extras .footer_extras--social .social_links li .text_crop:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
}
.footer_extras .footer_extras--social .social_links li .text_crop:before {
    margin-bottom: -.23526em;
}
.footer_extras .footer_extras--social .social_links li .text_crop:after {
    margin-top: -.44579em;
}


@media (min-width: 600px) {
    .site_footer .site_footer--tagline_wrap {
        padding: 100px 0 150px;
    }
    .site_footer .site_footer--tagline_copy {
        font-size: 36px;
        line-height: 1.19;
    }
    .site_footer .site_footer--tagline_link {
        margin-top: 30px;
    }
    .footer_extras .footer_extras--legal {
        width: auto;
        -webkit-box-ordinal-group: 2;
        order: 1;
        margin-top: 0;
        margin-right: 15px;
    }
    .footer_extras .footer_extras--aux_nav {
        -webkit-box-ordinal-group: 3;
        order: 2;
        width: auto;
    }
    .footer_extras .footer_extras--aux_nav .aux_nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    .footer_extras .footer_extras--aux_nav .aux_nav li {
        margin: 0 0 0 15px;
    }
    .footer_extras .footer_extras--social {
        -webkit-box-ordinal-group: 4;
        order: 3;
        width: 100%;
        padding-top: 20px;
    }
    .footer_extras .footer_extras--social .social_links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    .footer_extras .footer_extras--social .social_links li:first-child {
        margin-left: 0;
    }
    .footer_extras .footer_extras--social .social_links li {
        margin: 0 0 0 15px;
    }
}
@media (min-width: 900px) {
    .site_footer {
        height: 100vh;
    }
    .site_footer .site_footer--tagline_wrap {
        padding: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin: 0 auto;
        width: calc(300px + (100% - 460px)/24*16);
    }
    .site_footer .site_footer--tagline_copy {
        font-size: 57px;
        line-height: 1.15;
    }
    .site_footer .site_footer--tagline_copy .text_crop:after, .site_footer .site_footer--tagline_copy .text_crop:before {
        content: "";
        display: block;
        height: 0;
        width: 0;
    }
    .site_footer .site_footer--tagline_copy .text_crop:before {
        margin-bottom: -.10526em;
    }
    .site_footer .site_footer--tagline_copy .text_crop:after {
        margin-top: -.31579em;
    }
}
@media (min-width: 1100px) {
    .footer_extras .footer_extras--legal {
        flex-shrink: 0;
    }
    .footer_extras .footer_extras--aux_nav {
        flex-shrink: 0;
    }
    .footer_extras .footer_extras--social {
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding-top: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
}